
.google-picture {
  padding: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -325px;

}

.text-search {
  white-space: nowrap;
  width: 600px;
  height: 50px;
  border-color: lightgray;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: black;
  margin-top: 100px;
}


/*Flexbox usage*/

.flex {
  display: flex;
  justify-content: center;
}

.flex-item+.flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color: #ebecf0;
  border: none;
  color: grey;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.topnav {
  position: absolute;
  top: 20px;
  left: 15px;
  word-spacing: 7px;
  cursor: pointer;
}

div.topnav-right {
  position: absolute;
  top: 25px;
  right: 15px;
  word-spacing: 7px;
  cursor: pointer;
}

.sign-in {
  width: 60px;
  height: 35px;
  color: white;
  border-radius: 3px;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background-color: #4285f4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: black;

}

a:visited {
  color: black;
  text-decoration: none;
}

footer{
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  
}

.footer-left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 50%;
  font-size: 25px;
  text-align: left;
  background-color: #DCDCDC;
  color: black;
  cursor: pointer;
  
}

.footer-right {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 50%;
  font-size: 25px;
  text-align: right;
  background-color: #DCDCDC;
  color: black;
  cursor: pointer;
}
